<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta name="robots" content="noindex,follow" charset="utf-8">
	<title>Выбор установки - Цифровая буровая</title>
	<link rel="stylesheet" href="/static/css/universal.css">
	<link rel="stylesheet" href="/static/fonts/styrene/stylesheet.css">
	<link rel="stylesheet" href="/static/css/header.css">
	<link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico">
	<link type="image/png" sizes="16x16" rel="icon" href="/static/favicon-16x16.png">
  <link type="image/png" sizes="32x32" rel="icon" href="/static/favicon-32x32.png">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		.stage {
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s ease;
            cursor: pointer;
        }
        .stage:hover {
            overflow: visible;
            white-space: normal;
        }
        .current-stage {
            background-color: #007bff;
            color: white;
        }
	</style>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flot@4.2.2/dist/es5/jquery.flot.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
</head>
<body>
	<div class="wrapper mainWindow" >
	<header th:insert="blocks/header.html :: header"></header>
	<main>
		<div class="row">
			<div class="col span4 pageName">
			Выбор установки
			</div>
			<div class="col span4"></div>
		</div>
		<div class="row row_wrap">
			<div class="col">
				<form  th:action="${page}" method="post" enctype="multipart/form-data">
					<select size=1 class="select" th:name="${nodata}">
						<option disabled>Выберите установку:</option>
						<option th:each=" el: ${well_id_list}" th:value="${el}" th:text="${el}">
						</option>
					</select>
				</form>
			</div>
			<div class="col" >
				<form th:action="'/monitor'" target="_self">
					<button class="smallBlueButton" href="/">Показать &#10142;</button>
				</form>
			</div>
			<div class="col">

			</div>
			<div class="col">
				<form th:action="''" target="_self">
					<button class="simpleButton tableButton">История
					</button>
				</form>
			</div>
		</div>
		<div class="row row_wrap stagesRow">
		</div>
		<script>
			$(document).ready(function() {
                var stages = [
                    "Накручивание свечи на силовой верхний привод",
                    "Роботизированные работы: Подача свечи на ось скважины",
                    "Роботизированные работы: Перемещение свечи от оси скважины в подсвечник",
                    "Роботизированные работы: Захват свечи в автоматическом элеваторе",
                    "Роботизированные работы: Смазка и очистка резьбы перед свинчиванием",
                    "Роботизированные работы: Прием и сопровождение бурильной трубы на ось скважины",
                    "Выход на режим",
                    "Подход к забою",
                    "Бурение с вращением",
                    "Отход от забоя на 1-2 метра",
                    "Подъем-спуск БИ на расстояние 7-15 метров без вращения",
                    "Направленное бурение без вращения буровой колонны",
                    "Отход от забоя на 1-2 метра",
                    "Выход на режим с вращением СВП и продолжение бурения",
                    "Выработка нагрузки - регулирование",
                    "Проработка - движение вверх/вниз",
                    "Расхаживание",
                    "Становление в клинья",
                    "Заверщение бурения"
                ];

                var currentStage = 1; // Текущий этап, будет приходить из БД

				currentStage = [(${stage})];

                stages.forEach(function(stage, index) {
                    var stageDiv = $("<div>", {
                        "class": "stage col",
                        "data-index": index + 1,
                        "text": stage
                    });
                    if (index + 1 === currentStage) {
                        stageDiv.addClass("current-stage");
                    }
                    $(".stagesRow").append(stageDiv);
                });
            });
		</script>
		<div class="row row_wrap">
			<div class="col">
				<label>Текущий процесс</label>
				<output th:text="${stage}" maxlength="1000" size="15"  ></output>
			</div>
			<div class="col">
				<th:block th:switch="${nodata}">
					<div th:case="'Активен'">
						<form th:action="'/'" target="_self">
							<button class="smallYellowButton" href="/">Прервать</button>
						</form>
					</div>
					<div th:case="'Прерван'">
						<form th:action="'/'" target="_self">
							<button class="smallYellowButton" href="/">Возобновить</button>
						</form>
					</div>
				</th:block>
			</div>
			<div class="col">
			</div>
			<div class="col">
				<form th:action="'/'" target="_self">
					<button class="simpleButton tableButton" href="/">План работ</button>
				</form>
			</div>

		</div>
		<div class="row row_wrap">
			<div class="col">
				<label>Статус</label>
				<output th:text="${nodata}" maxlength="1000" size="15"  ></output>
			</div>
			<div class="col">

			</div>
			<div class="col" >

			</div>

			<div class="col">
				<form th:action="'/'" target="_self">
					<button class="simpleButton tableButton">Состояние агрегатов</button>
				</form>
			</div>
		</div>
		<div class="row row_wrap">
			<div class="col">
				<div class="container mt-5">
					<h2 class="text-center"></h2>
					<div id="chart1" class="mb-5" style="width:100%;height:400px;"></div>
					<div id="chart2" class="mb-5" style="width:100%;height:400px;"></div>
					<div id="chart3" style="width:100%;height:400px;"></div>
				</div>
				<script type="text/javascript">
					$(function() {

						var datasets1_1 = [
							{ x: 0, y: 10 }, { x: 1, y: 20 }, { x: 2, y: 30 }, { x: 3, y: 40 }, { x: 4, y: 50 }
						];
						var datasets1_2 = [
							{ x: 0, y: 5 }, { x: 1, y: 15 }, { x: 2, y: 25 }, { x: 3, y: 35 }, { x: 4, y: 45 }
						];
						var datasets2_1 = [
							{ x: 0, y: 12 }, { x: 1, y: 22 }, { x: 2, y: 32 }, { x: 3, y: 42 }, { x: 4, y: 52 }
						];
						var datasets2_2 = [
							{ x: 0, y: 10 }, { x: 1, y: 20 }, { x: 2, y: 30 }, { x: 3, y: 40 }, { x: 4, y: 50 }
						];
						var datasets3_1 = [
							{ x: 0, y: 5 }, { x: 1, y: 15 }, { x: 2, y: 25 }, { x: 3, y: 35 }, { x: 4, y: 45 }
						];
						var datasets3_2 = [
							{ x: 0, y: 12 }, { x: 1, y: 22 }, { x: 2, y: 32 }, { x: 3, y: 42 }, { x: 4, y: 52 }
						];

						datasets1_1 = [(${plot_data11})];
						datasets1_2 = [(${plot_data})];

						datasets2_1 = [(${plot_data21})];
						datasets2_2 = [(${plot_data2})];

						datasets3_1 = [(${plot_data31})];
						datasets3_2 = [(${plot_data3})];

						function convertData(data) {
									return data.map(function(point) {
										return [point.x, point.y];
									});
								}

                        var updateInterval = 30;

                        var options1 = {
                            series: {
                                shadowSize: 0
                            },
                            yaxis: {
                                min: 0,
                                max: 100,
                                axisLabel: 'Глубина'
                            },
                            xaxis: {
                                axisLabel: 'Время'
                            },
                            legend: {
                                show: true,
                                position: 'ne'
                            }
                        };
						var options2 = {
                            series: {
                                shadowSize: 0
                            },
                            yaxis: {
                                min: 0,
                                max: 100,
                                axisLabel: 'Отклонение'
                            },
                            xaxis: {
                                axisLabel: 'Время'
                            },
                            legend: {
                                show: true,
                                position: 'ne'
                            }
                        };


                        var plot1 = $.plot("#chart1", [
                            { data: convertData(datasets1_1), label: "Фактическая", lines: { show: true, lineWidth: 1 } },
                            { data: convertData(datasets1_2), label: "Расчётная", lines: { show: true, lineWidth: 1, dashPattern: [4, 4] } }
                        ], options1);

                        var plot2 = $.plot("#chart2", [
                            { data: convertData(datasets2_1), label: "Фактическая", lines: { show: true, lineWidth: 1 } },
                            { data: convertData(datasets2_2), label: "Расчётная", lines: { show: true, lineWidth: 1, dashPattern: [4, 4] } }
                        ], options2);

                        var plot3 = $.plot("#chart3", [
                            { data: convertData(datasets3_1), label: "Фактическая", lines: { show: true, lineWidth: 1 } },
                            { data: convertData(datasets3_2), label: "Расчётная", lines: { show: true, lineWidth: 1, dashPattern: [4, 4] } }
                        ], options2);

                        function update() {
                            plot1.setData([
                                { data: convertData(datasets1_1), label: "Фактическая" },
                                { data: convertData(datasets1_2), label: "Расчётная" }
                            ]);
                            plot1.draw();

                            plot2.setData([
                                { data: convertData(datasets2_1), label: "Фактическая" },
                                { data: convertData(datasets2_2), label: "Расчётная" }
                            ]);
                            plot2.draw();

                            plot3.setData([
                                { data: convertData(datasets3_1), label: "Фактическая" },
                                { data: convertData(datasets3_2), label: "Расчётная" }
                            ]);
                            plot3.draw();

                            setTimeout(update, updateInterval);
                        }

                        update();
                    });
				</script>
			</div>
		</div>
		<div class="row" >
			<form target="_self">
				<div class="col center_align">
					<div class="backButton"><button class="header-img back-img" onclick="history.go(-1);"></button> <span onclick="history.go(-1);">Назад</span></div>
				</div>
			</form>
		</div>
	</main>
	</div>
</body>
</html>
