<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WITS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/static/css/universal.css">
        <link rel="stylesheet" href="/static/fonts/styrene/stylesheet.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico">
        <link type="image/png" sizes="16x16" rel="icon" href="/static/favicon-16x16.png">
        <link type="image/png" sizes="32x32" rel="icon" href="/static/favicon-32x32.png">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Данные инклинометрии</h1>
    <div th:each="el : ${data}" class="alert alert-info mt-2">
        <!--   <p> <b>Идентификатор скважины:</b> <span th:text="${el.wellId}"/> </p>
           <p> <b>Боковой ствол:</b> <span th:text="${el.sidetrack}"/> </p>
           <p> <b>Идентификатор записи:</b> <span th:text="${el.recordId}"/> </p> -->
           <p> <b>Идентификатор последовательности записей:</b> <span th:text="${el.name}"/> </p>
           <p> <b>Дата:</b> <span th:text="${el.mesuarmentDate}"/> </p>
           <p> <b>Глубина по показанию датчика:</b> <span th:text="${el.depthSvy}"/> </p>
           <p> <b>Положение по оси Север-Юг:</b> <span th:text="${el.svyNorthSouthPosition}"/> </p>
           <p> <b>Положение по оси Восток-Запад:</b> <span th:text="${el.svyEastWestPosition}"/> </p>
       </div>
   </div>

   <div th:insert="blocks/footer :: footer"></div>

   </body>
   </html>