<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">АСУ ТП</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/monitor">Мониторинг</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/tp">Техпроцесс</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/wits">WITS IN</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/witsml">WITSML IN</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/witsml_out">WITSML OUT</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/ros">ROS</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/user">Пользователи</a>
    </nav>
</div>
</div>